<div id="loginContainer" class="container d-flex flex-column justify-content-center align-items-center">
    <div class="mb-5">
        <img class="img-fluid" src="assets/images/logo.png" alt="logo">
    </div>

    <form [formGroup]="registerForm" id="loginForm" class="container d-grid gap-3" (ngSubmit)="checkForm()">
        <div>
            <input formControlName="username" type="text" class="form-control" placeholder="Username">
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="username?.errors?.required || username?.errors?.notOnlyWhitespace">
                    Username is required
                </div>

                <div *ngIf="username?.errors?.maxlength">
                    Username must be less than 30 characters long
                </div>

                <div *ngIf="username?.errors?.minlength">
                    Username must be at least 4 characters long
                </div>
            </div>
        </div>

        <div>
            <input formControlName="password" type="text" class="form-control" placeholder="Password">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="password?.errors?.required || password?.errors?.notOnlyWhitespace">
                    Password is required
                </div>

                <div *ngIf="password?.errors?.maxlength">
                    Password must be less than 20 characters long
                </div>

                <div *ngIf="password?.errors?.minlength">
                    Password must be at least 6 characters long
                </div>
            </div>
        </div>

        <div>
            <input formControlName="repeatPassword" type="text" class="form-control" placeholder="Repeat password">
            <div *ngIf="registerForm?.errors?.['samePassword'] && (repeatPassword?.dirty || repeatPassword?.touched)"
                class="alert alert-danger mt-1">
                Passwords must match
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Register new user</button>
        <!-- <button type="button" class="btn btn-outline-primary" routerLink="/register">Register</button> -->
    </form>
</div>