/* You can add global styles to this file, and also import other style files */
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Readex Pro', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer>p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>p>a {
  padding-left: 10px;
}

footer>p>a:hover {
  transform: scale(1.1);
}

/**********************************************
ID SELECTORS 
**********************************************/

#no-projects {
  font-size: 1.5em;
}

#cardParent:hover {
  transform: scale(1.02)
}

#cardButtons{
  width: 100%; 
}

#blurBackground{
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100%;
}

#deletionBox{
  /* position: relative;
  bottom: 20px; */
  /* position: absolute;
  top: 50%; */
  /* left: 25%;
  right: 25%;  */
}

/**********************************************
CLASS SELECTORS
**********************************************/

.card-name {
  font-weight: bold;
  font-size: 1.2em;
  height: 3em;
}

.description-text {
  width: auto;
  overflow: hidden;
  height: 3.15em;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-img-top {
  max-height: 14em;
}

.card-footer {
  font-size: 1em;
}

.blur-button{
  width: 5em;  
  height: 3em;
}

/**********************************************
MEDIA 
**********************************************/