<div id="loginContainer" class="container d-flex flex-column justify-content-center align-items-center">
    <div class="mb-5">
        <img class="img-fluid" src="assets/images/logo.png" alt="logo">
    </div>

    <form [formGroup]="loginForm" id="loginForm" class="container d-grid gap-3" (ngSubmit)="checkForm()">
        <div>
            <input formControlName="username" type="text" class="form-control" placeholder="Username" autocomplete="on">
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="username?.errors?.required">
                    Username is required
                </div>
            </div>
        </div>

        <div>
            <input formControlName="password" type="password" class="form-control" placeholder="Password" autocomplete="on">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="password?.errors?.required">
                    Password is required
                </div>
            </div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger mt-1">
            {{errorMessage}}
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-outline-primary" routerLink="/register">Register</button>
    </form>
</div>