/Frontend/project-manager/src/assets/images/projects/1image.png
/Backend/.idea/libraries/Maven__org_modelmapper_modelmapper_3_0_0.xml
/Backend/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_5_6.xml
/Backend/.idea/libraries/Maven__org_springframework_security_spring_security_config_5_5_3.xml
/Backend/.idea/libraries/Maven__org_springframework_security_spring_security_core_5_5_3.xml
/Backend/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_5_3.xml
/Backend/.idea/libraries/Maven__org_springframework_security_spring_security_web_5_5_3.xml
/.idea/modules.xml
/.idea/ProjectManager.iml
/.idea/vcs.xml
/.idea/workspace.xml
