<form #projectForm [formGroup]="projectFormGroup" (ngSubmit)="checkForm()">
    <div class="mb-3">
        <label for="projectName" class="form-label">Project name:</label>
        <input formControlName="name" type="text" class="form-control" id="projectName" placeholder="The One App">
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger mt-1">
            <div *ngIf="name?.errors?.required || name?.errors?.notOnlyWhitespace">
                Name is required.
            </div>

            <div *ngIf="name?.errors?.maxlength">
                Name must be less than 50 characters long.
            </div>

            <div *ngIf="name?.errors?.minlength">
                Name must be at least 4 characters long.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="projectDescription" class="form-label">Project description:</label>
        <textarea formControlName="description" class="form-control" id="projectDescription" rows="4"
            placeholder="One App to rule them all, One App to find them, One App to bring them all, and in the darkness bind them."></textarea>
    </div>

    <div class=row>
        <div class="mb-3 col">
            <label for="projectStartDate" class="form-label">Project start date:</label>
            <input formControlName="startDate" type="date" class="form-control" id="projectStartDate">
            <div *ngIf="startDate?.invalid && (startDate?.dirty || startDate?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="startDate?.errors?.required">
                    Start date required.
                </div>
            </div>
        </div>

        <div class="mb-3 col">
            <label for="projectEndDate" class="form-label">Project end date:</label>
            <input formControlName="endDate" type="date" class="form-control" id="projectEndDate">
            <div *ngIf="projectFormGroup?.errors?.['endDateAfterStartDate'] && (endDate?.dirty || endDate?.touched)"
                class="alert alert-danger mt-1">
                End date must be after start date.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="projectStatus" class="form-label">Project status:</label>
        <select formControlName="status" class="form-control" id="projectStatus">
            <option *ngFor="let temp of statuses">{{temp}}</option>
        </select>
    </div>

    <div formArrayName="tasks" class="mb-3">
        <div class="mb-2 list-group">
            <label for="projectTasks" class="form-label">Project tasks:</label>
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div cdkDrag class=form-group *ngFor="let tempTask of tasks.controls, index as i">
                    <div [formGroup]="$any(tempTask)" class="d-flex flex-row">
                        <div class="d-flex flex-column flex-sm-row flex-fill">
                            <div class="d-flex flex-row flex-fill mb-1 me-1">
                                <div cdkDragHandle placement="end" ngbTooltip="Hold to drag task" [openDelay]="1000">
                                    <fa-icon [icon]="dragHandle" class="form-control"></fa-icon>
                                </div>
                                <div class="flex-grow-1">
                                    <textarea formControlName="taskDescription" class="form-control" rows="1"
                                        id="projectTasks"></textarea>
                                    <div *ngIf="tempTask.get('taskDescription')?.invalid && (tempTask.get('taskDescription')?.dirty || tempTask.get('taskDescription')?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="tempTask.get('taskDescription')?.errors?.required || 
                                    tempTask.get('taskDescription')?.errors?.notOnlyWhitespace">
                                            Task name is required.
                                        </div>

                                        <div *ngIf="tempTask.get('taskDescription')?.errors?.minlength">
                                            Task name must be at least 4 characters long.
                                        </div>

                                        <div *ngIf="tempTask.get('taskDescription')?.errors?.maxlength">
                                            Task name must be less than 200 characters long.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1 me-1">
                                <select formControlName="taskStatus" class="form-control text-center">
                                    <option *ngFor="let temp of taskStatuses" [value]="temp">{{temp}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-1">
                            <button type="button" class="btn btn-danger" id="removalButton" (click)="removeTask(i)">
                                <fa-icon [icon]="closeBtn"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="addNewTask()">Add new task</button>
    </div>

    <div class="mb-3">
        <label for="projectImageUpload" class="form-label">Image upload:</label>
        <input formControlName="fileUpload" class="form-control" type="file" accept="image/*" id="projectImageUpload"
            (change)="onFileSelected($event)">
        <div *ngIf="errorMessage" class="alert alert-danger mt-1">
            {{errorMessage}}
        </div>
    </div>

    <div class="d-flex gap-2 mt-2 pb-3 pb-sm-0 justify-content-center justify-content-sm-start">
        <button type="submit" class="btn btn-secondary">Create project</button>
        <button type="button" class="btn btn-danger" (click)="formCleanerManual()">Reset</button>
        <button type="button" class="btn btn-primary" routerLink="/projects">Go back</button>
    </div>
</form>