<div class="row" *ngIf="projects.length > 0">
   <div class="col-md-3 mb-3" *ngFor='let tempProject of projects'>
      <div class="card bg-light border-dark">
         <img src="{{tempProject.images[0]['imageUrl']}}" alt="Project image" class="card-img-top">
         <div class="card-body">
            <p class="card-title text-center mb-4 card-name"> {{ tempProject.name }} </p>
            <p class="card-text description-text line-clamp mb-3"> {{ tempProject.description }}</p>
            <p class="card-text"> {{ tempProject.startDate | date }} - {{ tempProject.endDate | date }} </p>
         </div>
      </div>
   </div>

   <button type="button" class="btn btn-secondary mt-4" (click)="hello()">Add a new project</button>
   
</div>

<div *ngIf="projects.length == 0" class="alert alert-warning">
   <p id="no-projects" class="m-md-2">There are no projects!</p>
</div>

<div class="mt-4 mr-md-3">
   <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
      [boundaryLinks]="true" (pageChange)="displayProjects()">
   </ngb-pagination>
</div>