<div class="container">
   <h1 class="my-5">Projects</h1>

   <div id="card-container" *ngIf="projects.length > 0">    
      <div class="card bg-light border-dark m-3" *ngFor='let tempProject of projects'>
         <img src="{{tempProject.images[0]['imageUrl']}}" alt="Project image" class="card-img-top">
         <div class="card-body">
            <p class="card-title text-center mb-4 card-name"> {{ tempProject.name }} </p>
            <p class="card-text description-text line-clamp mb-3"> {{ tempProject.description }}</p>
            <p class="card-text"> {{ tempProject.startDate | date }} - {{ tempProject.endDate | date }} </p>
         </div>
      </div> 
   </div>

   <div *ngIf="projects.length == 0" class="alert alert-warning">
      <p id="no-projects" class="m-2">There are no projects!</p>
   </div>
</div>

