<!-- Sort bar -->
<app-sort></app-sort>

<div class="row" *ngIf="projects.length > 0">
   <div class="col-md-3 mb-3" *ngFor="let tempProject of projects">
      <div class="card h-100 bg-light border-dark border border-2 position-relative" id="cardParent">

         <div *ngIf="tempProject.images != undefined">
            <img *ngIf="tempProject.images.length > 0" src="{{ tempProject.images[0]['imageUrl'] }}" alt="Project image"
               class="card-img-top p-1 border-bottom border-2 border-secondary">

            <img *ngIf="tempProject.images.length == 0" src="{{ defaultImage }}" alt="Project image"
               class="card-img-top p-1 border-bottom border-2 border-secondary">
         </div>
         
         <div class="card-body">
            <p class="card-title text-center card-name"> {{ tempProject.name }} </p>
            <p class="card-text description-text line-clamp"> {{ tempProject.description }}</p>
         </div>

         <div class="card-footer h-100 text-muted">
            <p class="mb-1"> {{ tempProject.startDate | date }} - {{ tempProject.endDate | date }} </p>
            <div *ngIf="tempProject.length > 1; else elseBlock">Total length: {{ tempProject.length }} days</div>
            <ng-template #elseBlock>
               <div *ngIf="tempProject.length > 0; else zeroBlock">Total length: {{ tempProject.length }} day</div>
               <ng-template #zeroBlock>Not finished</ng-template>
            </ng-template>
         </div>

         <div class="position-absolute top-50 start-50 translate-middle d-none" id="blurBackground">
            <div class="d-flex justify-content-around position-absolute top-50 start-50 translate-middle"
               id="cardButtons">
               <button class="btn btn-secondary blur-button border border-dark border-2"
                  routerLink="/edit/{{tempProject.id}}">Edit</button>
               <button class="btn btn-danger blur-button border border-dark border-2"
                  (click)="deletionConfirmation(tempProject.id)">Delete</button>
            </div>
         </div>
      </div>
   </div>
</div>

<div *ngIf="projects.length == 0" class="alert alert-warning">
   <p id="no-projects" class="m-md-2">There are no projects!</p>
</div>

<div>
   <button type="button" class="btn btn-secondary mt-2 col-12" (click)="addNewProjectNavigation()">Add a new
      project</button>
</div>

<div class="mt-4 mr-md-3">
   <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
      [boundaryLinks]="true" (pageChange)="displayProjects()">
   </ngb-pagination>
</div>