
<nav class="navbar navbar-light bg-light my-4">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a routerLink="/projects/nameAsc" class="mx-1">
                <img src="assets/images/logo.png" alt="logo" class="img-responsive" width="60" (click)="refresh()">
            </a>
            <a routerLink="/projects/nameAsc" class="nav-link" (click)="refresh()">
                Home
            </a>
        </div>
      <form class="d-flex">
        <input #searchInput class="form-control me-md-3 me-sm-2" type="search" placeholder="Search for projects..."
          (keyup.enter)="searchProject(searchInput.value)">
        <button class="btn btn-secondary" (click)="searchProject(searchInput.value)">Search</button>
      </form>
    </div>
  </nav>